.itemWrap {
  display: flex;
  align-items: center;
  gap: 12px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
  .title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.96px;
    text-align: left;
    color: #000000;
    
  }
}
