.footer{
//     position: fixed;
//   bottom: 0;
//   left: 0;
  width: 100%; 
  z-index: 100;
}
.footerWrap {
  background-color: #000000;
  padding: 44px 164px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  line-height: 60px;
}
.locationWrap {
  display: flex;
  gap: 8px;
  font-weight: 400;
  color: #979797;
  .locationInfo{
    max-width: 402px;
    font-size: 16px;
    Line-height:24px
  }
}

@media screen and (max-width: 976px) {
    .footerWrap {
      padding: 30px 100px;
    }
  }
  @media screen and (max-width: 876px) {
    .footerWrap {
      padding: 30px 50px;
    }
  }
  @media screen and (max-width: 746px) {
    .footerWrap {
        flex-direction: column;
      }
    .title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .locationWrap {
        .locationInfo{
            font-size: 14px;
            line-height: 22px;
        }
    }
  }
  @media screen and (max-width: 546px) {
    .footerWrap {
      padding: 20px 30px;
    }
    .locationWrap {
        .locationInfo{
            max-width: 320px;
        }
    }
  }
  @media screen and (max-width: 446px) {
    .footerWrap {
        padding: 20px;
      }
      .locationWrap {
        align-items: center;
        flex-direction: column;
      }
  }
